.map-section {
  padding: 0;
  text-align: center;
  background-color: #f7f7f7;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.map-title {
  color: #3674b5;
  font-size: 24px;
  font-weight: 600;
  margin: 40px 0;
}

#map {
  width: 100vw;
  max-width: 1200px;
  height: 500px;
  z-index: -1;
  position: relative;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.map-description {
  background-color: #ffffff;
  padding: 40px 20px;
  margin-top: -80px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.05);
  font-family: "Poppins", sans-serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: relative;
}

.desc-title {
  color: #3674b5;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.desc-subtitle {
  color: #444;
  font-size: 16px;
  margin-bottom: 30px;
}

.coverage-columns {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.coverage-group {
  text-align: left;
}

.coverage-group h4 {
  color: #222;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.coverage-group ul {
  list-style: none;
  padding-left: 0;
}

.coverage-group ul li::before {
  content: "✔️";
  margin-right: 8px;
  color: #3674b5;
}

.coverage-group ul li {
  margin-bottom: 6px;
  font-size: 15px;
  color: #333;
}
